.wp-block-onvia-blocks-piccy-image {
  .media-select {
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    background-color: #ddd;
    box-sizing: border-box;
    border: none;
    box-shadow: none;

    &:hover {
      background-color: #ccc;
    }
  }

  .no-image-selected {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    background-color: #fff;
  }
}
