/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-onvia-blocks-curvy {
}

.curvy-icon {
    background-color: black;
    color: white;

    &:hover {
        background-color: deeppink;
        color: black;
    }
}